* {
  margin: 0;
}
body {
  background-color: #fafafa;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}
.app__loginContainer {
  width: 150px;
  display: flex;
  justify-content: space-between;
}
.app__headerImage {
  height: 30px;
  object-fit: contain;
}
.app__modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app__posts {
  display: flex;
  padding: 20px;
  justify-content: center;
}
.app__postsRight {
  margin-left: 20px;
}
.app__uploadPost {
  width: 100%;
  border-top: 1px solid lightgray;
  margin-top: 20px;
  padding-top: 20px;
}
.uploadPost__header {
  display: block;
  text-align: center;
}
@media (max-width: 570px) {
  .app__posts {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
    justify-content: center;
  }
  .app__postsRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
  .app__postsRight > * {
    max-width: 326px;
  }
}
